.results {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-box {
  background-color: lightblue;
}

.results li {
  list-style-type: none;
}
